#floatingCardContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.floatingCard {
    position: relative;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 1076px;
    height: 90%;
    min-height: 600px;
    max-height: 793px;
    background-image: linear-gradient(to bottom, #00000000, #303030FF), 
        url("https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-color: #303030;
    border-radius: 24px;
}

.xButton {
    position: absolute;
    top: 12px;
    right: 12px;
}
    
.floatingCardInfo {
    align-self: end;
    bottom: 20px;
    right: 20px;
    left: 20px;
    padding: 25px;

    .platformsTitleAndRanking {

        .platformsIcons {
            position: inherit;
        }

        .gameTitle {
            font-size: 36px;
            font-size: 36px;
            color: white;
            margin: 15px 0 15px 0;
        }

        .gameTagsRow {
            display: flex;
            flex-direction: row;
            
            .gameTag {
                display: flex;
                flex-direction: row;
                background-color: white;
                border-radius: 14px;
                margin-right: 10px;
                padding: 0 8px 0 8px;

                .grayText {
                    color: rgba(81, 81, 81, 1);
                }

                .purpleText {
                    color: #9b59b6;
                }
            }
        }
    }
}

.gameTag p {
    font-size: 16px;
    margin: 6px;
}

.gridContainer {
    display: grid;
    grid-template-areas:
        'description description multimedia'
        'wishlist purchase multimedia'
        'text1 text2 multimedia'
        'text1 icons multimedia';
    /* I make the first column to have a small fixed width, to allow the second column to be wider.
    This will allow the description to be wider than the Wishlist and Purchace buttons together*/
    grid-template-columns: 255px auto auto;
    
    .description {
        grid-area: description;
        height: 85px;
        width: 603px;
        overflow: hidden;
        margin-right: 15px;
    }

    .wishlist {
        grid-area: wishlist;
    }

    .purchase {
        grid-area: purchase;
    }

    .gameDetailsAttributes1 {
        grid-area: text1;
    }

    .gameDetailsAttributes2 {
        grid-area: text2;
    }

    .floatingCardIcons {
        grid-area: icons;
        align-self: end;
        margin-top: 15px;
    }

    .multimedia {
        grid-area: multimedia;
        width: 384px;
        margin-top: 20px;
    }
}

.wishlist {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 0 20px 0;
    position: relative;
    color: #FFFFFF;
    background-color: #BF5FE1;
    height: 47px;
    width: 228px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.wishlist p {
    margin: 12px;
}
.wishlist img {
    margin: 12px;
}


.purchase {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 20px 0 20px 0;
    position: relative;
    color: #BF5FE1;
    background-color: #00000022;
    height: 47px;
    width: 228px;
    border-radius: 6px;
    border: 2px solid #BF5FE1;
    cursor: pointer;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}
.purchase p {
    margin: 12px;
}

video {
    width: 100%;
}

.screenshots {
    display: flex;
    justify-content: space-between;

    flex-direction: row;
    flex-wrap: wrap;
}

.screenshots img {
    width: 50%;
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    .gridContainer {
        grid-template-areas:
            'description description'
            'wishlist purchase '
            'text1 multimedia'
            'text2 multimedia';
        grid-template-columns: 50% 50%;
        
        .multimedia {
            width: 95%;
            margin-left: 20px;
        }
    }

    .floatingCard {
        margin: 20px;
        min-height: 984px;
        max-height: auto;
    }

    .floatingCardInfo {
        align-self: end;
        width: 100%;
    }

    .wishlist {
        width: 95%;
        margin-right: 20px;
    }
    .purchase {
        width: 95%;
        margin-left: 20px;
    }

    .floatingCardIcons {
        display: flex;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: 20px;
    }
}

/* MOBILE */
@media screen and (max-width: 600px) {
    .gridContainer {
        grid-template-areas:
            'description'
            'wishlist'
            'purchase'
            'text1'
            'text2'
            'icons'
            'multimedia';
        grid-template-columns: 100%;
        
        .multimedia {
            width: 100%;
        }
        
        .description {
            width: 100%;
        }
    }

    .gameTag p {
        font-size: 14px;
        margin: 3px;
    }
    
    #floatingCardContainer {
        width: 100%;
        position: absolute;
        height: initial;
        margin-top: 77px;
    }

    .floatingCard {
        margin: 0;
        width: 100%;
        min-height: initial;
        max-height: initial;
        border-radius: 0px;
    }

    .floatingCardInfo {
        align-self: start;
        width: 100%;
    }

    .wishlist {
        width: 100%;
    }
    .purchase {
        width: 100%;
    }
}