#floatingCardContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

.floatingCard {
    margin-top: auto;
    margin-bottom: auto;
    width: 1076px;
    height: 600px;
    background-color: #303030;
    border-radius: 24px;

    .gameImageContainer {
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));


        .gameImage {
            display: flex;
            background-position: center;
            background-size: cover;
            position: relative;
            width: 100%;
            height: 81%;
            border-radius: 24px 24px 0px 0px;
            background-color: blueviolet;
            
            .likeIcon {
                position: absolute;
                top: 17.5px;
                right: 17px;
            }
        }
    }
}