.descriptionTextLong {
    display: none;
}

#backFromLongDescription {
    display: none;
}

.fullDescription {
    .platformsTitleAndRanking {
        margin-top: 50px;
    }
    .floatingCardInfo {
        align-self: start;
        height: 100%
    }
    .descriptionTextLong {
        display: initial;
    }
    .description {
        height: 75%;
        display: flex;
    }
    .gridContainer {
        display: block;
        height: 80%;
    }

    .descriptionText {
        display: none;
    }
    #descriptionReadMore {
        display: none;
    }
    .floatingCardInfo .gameTagsRow {
        display: none;
    }
    .wishlist {
        display: none;
    }
    .purchase {
        display: none;
    }
    .gameDetailsAttributes1 {
        display: none;
    }
    .gameDetailsAttributes2 {
        display: none;
    }
    .multimedia {
        display: none;
    }
    .floatingCardIcons {
        display: none;
    }
    .gameTagsRow {
        display: none;
    }

    #backFromLongDescription {
        display: initial;
        position: absolute;
        top: 12px;
        left: 12px;
    }
}


