
div.logo {
    left: 21px;
    top: 9px;
}

header {
    position: relative;
    width: 100%;
    height: 79px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    #userSesion {
        display: flex;
        position: absolute;
        right: 40px;
        width: 120px;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;

        a {
            position: absolute;
            right: 0px;
        }
        
    }
}
.lightMode header {
    background-color: #D9D9D9;
}

#searchInput {
    position: absolute;
    top: 15px;
    max-width: 240px;
}

#hideSearchBox {
    position: absolute;
    top: 12px;
    right: 12px;
    display: none;
}

#hamburgerMenu {
    display: none;
}

#displaySearchIcon {
    display: none;
}

.inputBox input {
    margin-left: 40px;
}

.inputBox span {
    left: 12px;
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    header {
        justify-content: flex-end;
    }

    .inputBox {
        display: none;
        width: 30%;
    }
        
    #circledX {
        display: block;
    }

    div.logo {
        position: absolute;
        transform: scale(0.71);
        left: 24px;
    }

    #hamburgerMenu {
        display: block;
        position: absolute;
        right: 104px;
    }

    #displaySearchIcon {
        display: block;
        position: absolute;
        right: 164px;
    }

    #userSesion img {
        position: absolute;
        right: 0;
    }

    #userSesion a {
        display: none;
    }

}

/* MOBILE */
@media screen and (max-width: 600px) {
    header {
        display: flex;
        height: 50px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    div.logo {
        top: 0px;
        left: 50%;
        transform: scale(0.55) translateX(-100%);
        display: block;
        align-self: center;
    }

    #searchBar {
        max-width: 90%;
        position: absolute;
        top: 58px;
        left: 50%;
        transform: translateX(-50%);
    }

    .hiddenOnMobile {
        display: none;
    }
   
    #hideSearchBox {
        display: block;
    }

    #hamburgerMenu {
        margin-left: 16px;
        display: block;
    }

    #displaySearchIcon {
        margin-right: 16px;
        display: block;
    }

    #userSesion {
        display: none;
        position: absolute;
    }

    #userSesion a {
        display: none;
    }

    #userSesion img {
        display: none;
    }
}