@import "../css/common.css";
@import "../css/floating-card.css";
@import "../css/floating-card-description.css";
@import "../css/header.css";
@import "../css/sidebar.css";

body {
    max-width: 1440px;
    background-color: #151515;
    color: white;
    font-family: Archivo;
    margin: auto;

    p {
        cursor: default;
    }
}
.lightMode {
    background-color: #E5E5E5;
    color: #515151;
}

#titleAndOptions {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    justify-content: space-between;
    margin: 24px 40px 14px 40px;
}

#titleContainer {
    line-height: 10px;
    max-width: 1440px;
}

#optionIcons {
    display: flex;
    flex-direction: column;
    width: 104px;
    height: 40px;
    justify-content: right;

}

#optionIcons img {
    cursor: pointer;
}

#visualModeSwitcher {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#visualModeSwitcher a {
    padding: 12px;
    white-space: nowrap;
    vertical-align: middle;
}

#cardsDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#mainContainer {
    display: flex;
    right: 40px;
}

#gamesContainer {
    justify-content: center;
    width: 95%;
    font-size: 24px;
    font-weight: 600;
}

.gameAttributesName {
    font-weight: 500;
    color: #939393;
}
.lightMode .gameAttributesName {
    color: #515151;
}

.gameAttributesValue {
    font-weight: 400;
    color: #FFFFFF;
}
.lightMode .gameAttributesValue {
    color: #515151;
}

.description {
    height: 85px;
    overflow: hidden;
}

.card {
    background-color: #303030;
    border-radius: 12px;
    width: 30%;
    min-width: 320px;

    height: 314px;
    margin: 12px;

    .gameImage {
        display: flex;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 179px;
        border-radius: 12px 12px 0px 0px;
        
        .likeIcon {
            position: absolute;
            top: 17.5px;
            right: 17px;
        }
    }

    .gameInfo {
        position: relative;
        top: -8px;
        width: 91.18%;
        padding-left: 4.41%;
        padding-right: 4.41%;
       
        .titleAndRanking {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .ranking {
                font-family: 'Exo';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                color: #BF5FE1;
            }
            
        }
       
        .gameDetails {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-style: normal;
            font-size: 14px;
            align-items: start;

            .gameAttributesName {
                margin-right: 8px;
            }

            .gameAttributesValue {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 1;
                margin: 7px;
                width: 150px;
            }

            .gameDetailsAttributes {
                display: flex;
                flex-direction: column;
                line-height: 0;
            }

            .gameDetailsAttributes div {
                display: flex;
                flex-direction: row;
            }
        }
        .platformsIcons {
            display: flex;
            width: 25%;

            /*This div needs a little bit of width to keep the layout consistent,
            it doesn't matter if the icons are bigger, they'll simply overflow to the left*/
            width: 1px;
            justify-content: right;

            .icon {
                margin: 3px;
            }
        }
    }
}
.lightMode .card { 
    background-color: #FFFFFF;
}

.visualMode {
    position: absolute;
    top: 121px;
    right: 40px;
    display: flex;
    align-items: center;
}

.threeColumnsView {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;

    .gameAttributesName {
        width: 100px;
    }
}

.singleColumnView {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;

    .card {
        width: 697px;
        height: 538px;

        .gameImage {
            height: 315px;
        }

        .titleAndRanking {

            .gameTitle {
                font-size: 32px;
            }

            .ranking {
                font-size: 32px;
            }

        }

        .gameInfo {

            .gameDetailsAttributes {
                display: flex;
                flex-direction: row;
                line-height: 0;
            }     
        }
    }
}

#genreHoverDiv {
    position: fixed;
    max-width: 240px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #1B1B1B;
    padding: 6px;
    border-radius: 12px;
}
.lightMode #genreHoverDiv {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px #00000040;
}

#genreHoverDiv div {
    background-color: #BF5FE1;
    border-radius: 14px;
    margin: 4px;
    padding: 0 8px 0 8px;
    line-height: 12px;
}

#genreHoverDiv p {
    font-family: Exo;
    font-size: 14px;
    color: #FFFFFF;
    margin: 8px;
}

#modalDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 362px;
    height: 259px;
    background-color: #FFFFFF;
    border-radius: 12px;
    color: #000000;
    padding: 12px;
}

#closeModal { 
    align-self: end;
}

#modalDiv h3 {
    justify-self: center;
}

#modalDiv p {
    text-align: center;
    width: 70%;
}    

#yesButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    color: #FFFFFF;
    background-color: #BF5FE1;
    height: 47px;
    width: 100%;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

#dialogDiv a {
    color: #BF5FE1;
    font-family: Exo;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    #sideBar {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding-left: 25px;
    }
    .lightMode #sideBar {
        background-color: #FFFFFF;
    }

    #mainContainer {
        justify-content: left;
    }

    .threeColumnsView {
        width: 100%;
        justify-content: center;
    }

    .card {
        width: 45%
    }

    .hiddenOnMobileOrTablet {
        display: none;
    }
}


/* MOBILE */
@media screen and (max-width: 600px) {
    
    #sideBar {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding-left: 25px;
    }
    .lightMode #sideBar {
        background-color: #FFFFFF;
    }

    #titleAndOptions {
        margin: 19px;
        margin-bottom: 0;
        
    }

    #titleContainer h1 {
        font-size: 28px;
    }
    
    #titleContainer h4 {
        font-size: 14px;
    }

    #mainContainer {
        justify-content: center;
    }

    #gamesContainer {

        width: 100%;
    }

    .threeColumnsView {
        width: 100%;
        justify-content: center;
    }

    .card {
        min-width: 240px;
        width: 100%;
        margin: 19px;
        margin-bottom: 0;

        .gameInfo {
            .platformsIcons {
                justify-content: left;
                align-self: start;
            }
        }
    }

    .gameDetails {
        flex-direction: column;
    }


    #optionIcons {
        display: none;
    }

    .hiddenOnMobileOrTablet {
        display: none;
    }

    #mainContainer.hiddenOnMobileOrTablet {
        display: none;
    }
}