@import "../css/common.css";
@import "../css/floatingCard.css";

body {
    background-color: #151515;
    color: white;
    font-family: Archivo;
    margin: 0;
}

div.logo {
    left: 21px;
    top: 9px;
}

header {
    width: 100%;
    height: 79px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    #userSesion {
        display: flex;
        position: absolute;
        right: 40px;
        width: 120px;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        
    }
}

.titleContainer {
    line-height: 10px;
    margin: 40px;
}

.sideBar {
    width: 156px;
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.inputBox input {
    margin-left: 60px;
}

.inputBox span {
    left: 15px;
}

#cardsDisplay {
    position: absolute;
    display: flex;
    width: 104px;
    height: 40px;
    justify-content: space-between;
    top:171px;
    right: 40px;
}

#mainContainer {
    display: flex;
}

.card {
    background-color: #303030;
    border-radius: 12px;
    width: 30%;
    min-width: 320px;

    height: 314px;
    margin: 12px;

    .gameImage {
        display: flex;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 179px;
        border-radius: 12px 12px 0px 0px;
        
        .likeIcon {
            position: absolute;
            top: 17.5px;
            right: 17px;
        }
    }

    .gameInfo {
        position: relative;
        top: -8px;
        width: 91.18%;
        padding-left: 4.41%;
        padding-right: 4.41%;
       
        .titleAndRanking {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .ranking {
                font-family: 'Exo';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                color: #BF5FE1;
            }
            
        }
       
        .gameDetails {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-style: normal;
            font-size: 14px;
            align-items: start;

            .gameAttributesName {
                font-weight: 500;
                color: #939393;
                margin-right: 8px;
            }

            .gameAttributesValue {
                font-weight: 400;
                color: #FFFFFF;
                margin-right: 30px;
            }

            .gameDetailsAttributes {
                display: flex;
                flex-direction: column;
                line-height: 0;
            }

            .gameDetailsAttributes div {
                display: flex;
                flex-direction: row;
            }
        }
        .platformsIcons {
            display: flex;
            width: 25%;

            /*This div needs a little bit of width to keep the layout consistent,
            it doesn't matter if the icons are bigger, they'll simply overflow to the left*/
            width: 10px;
            justify-content: right;

            .icon {
                margin: 3px;
            }
        }
    }
}

.threeColumnsView {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;

    .gameAttributesName {
        font-weight: 500;
        color: #939393;
        width: 100px;
    }
}

.singleColumnView {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;

    .card {
        width: 697px;
        height: 538px;

        .gameImage {
            height: 315px;
        }

        .titleAndRanking {

            .gameTitle {
                font-size: 32px;
            }

            .ranking {
                font-size: 32px;
            }

        }

        .gameInfo {

            .gameDetailsAttributes {
                display: flex;
                flex-direction: row;
                line-height: 0;
            }     
        }
    }
}
