@import "../css/common.css";
@import "../css/floating-card.css";
@import "../css/header.css";
@import "../css/sidebar.css";

body {
    background-color: #151515;
    color: white;
    font-family: Archivo;
    margin: 0;
}
.lightMode {
    background-color: #E5E5E5;
    color: #515151;
}

#titleContainer {
    line-height: 10px;
    margin: 40px;
}

#cardsDisplay {
    position: absolute;
    display: flex;
    width: 104px;
    height: 40px;
    justify-content: space-between;
    top:171px;
    right: 40px;
}

#mainContainer {
    display: flex;
    right: 40px;
}

.gameAttributesName {
    font-weight: 500;
    color: #939393;
}
.lightMode .gameAttributesName {
    color: #515151;
}

.gameAttributesValue {
    font-weight: 400;
    color: #FFFFFF;
}
.lightMode .gameAttributesValue {
    color: #515151;
}

.description {
    height: 85px;
    overflow: hidden;
}

.card {
    background-color: #303030;
    border-radius: 12px;
    width: 30%;
    min-width: 320px;

    height: 314px;
    margin: 12px;

    .gameImage {
        display: flex;
        background-position: center;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 179px;
        border-radius: 12px 12px 0px 0px;
        
        .likeIcon {
            position: absolute;
            top: 17.5px;
            right: 17px;
        }
    }

    .gameInfo {
        position: relative;
        top: -8px;
        width: 91.18%;
        padding-left: 4.41%;
        padding-right: 4.41%;
       
        .titleAndRanking {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .ranking {
                font-family: 'Exo';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                text-align: right;
                color: #BF5FE1;
            }
            
        }
       
        .gameDetails {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-style: normal;
            font-size: 14px;
            align-items: start;

            .gameAttributesName {
                margin-right: 8px;
            }

            .gameAttributesValue {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 1;
                margin: 7px;
                width: 150px;
            }

            .gameDetailsAttributes {
                display: flex;
                flex-direction: column;
                line-height: 0;
            }

            .gameDetailsAttributes div {
                display: flex;
                flex-direction: row;
            }
        }
        .platformsIcons {
            display: flex;
            width: 25%;

            /*This div needs a little bit of width to keep the layout consistent,
            it doesn't matter if the icons are bigger, they'll simply overflow to the left*/
            width: 1px;
            justify-content: right;

            .icon {
                margin: 3px;
            }
        }
    }
}
.lightMode .card { 
    background-color: #FFFFFF;
}

.visualMode {
    position: absolute;
    top: 121px;
    right: 40px;
    display: flex;
    align-items: center;
}

.threeColumnsView {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;

    .gameAttributesName {
        width: 100px;
    }
}

.singleColumnView {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;

    .card {
        width: 697px;
        height: 538px;

        .gameImage {
            height: 315px;
        }

        .titleAndRanking {

            .gameTitle {
                font-size: 32px;
            }

            .ranking {
                font-size: 32px;
            }

        }

        .gameInfo {

            .gameDetailsAttributes {
                display: flex;
                flex-direction: row;
                line-height: 0;
            }     
        }
    }
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    #sideBar {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding-left: 25px;
    }
    .lightMode #sideBar {
        background-color: #FFFFFF;
    }

    #mainContainer {
        justify-content: left;
    }

    .threeColumnsView {
        width: 100%;
        justify-content: center;
    }

    .card {
        width: 45%
    }
}

.hiddenOnMobileOrTablet {
    display: none;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    
    #sideBar {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding-left: 25px;
    }
    .lightMode #sideBar {
        background-color: #FFFFFF;
    }

    #titleContainer {
        margin: 16px;
    }

    #titleContainer h1 {
        font-size: 28px;
    }
    
    #titleContainer h4 {
        font-size: 14px;
    }

    #mainContainer {
        justify-content: left;
    }

    .threeColumnsView {
        width: 100%;
        justify-content: center;
    }

    .card {
        width: 100%;
        margin: 16px;
    }

    #cardsDisplay {
        display: none;
    }
}