@import "../css/common.css";

body {
    background-image: url('../assets/dark-mode/background-img/BG.png');
    color: #FFFFFF;
}
.lightMode {
    background-image: url('../assets/light-mode/background-img/unsplash_jCorhBYp_C4.png');
    color: #515151;
}

.loginPanel {
    position: absolute;
    display: flex;
    width: 462px;
    height: 702px;
    right: 99px;
    top: 178px;

    background: rgba(23, 23, 23, 0.8);

    border-radius: 12px;

}
.lightMode .loginPanel {
    background: rgba(240, 240, 240, 0.8);
}

.loginTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singupPanel {
    position: absolute;
    display: flex;
    width: 462px;
    height: 350px;
    right: 99px;
    top: 178px;

    background: rgba(23, 23, 23, 0.8);

    border-radius: 12px;

}
.lightMode .singupPanel {
    background: rgba(240, 240, 240, 0.8);
}

@media screen and (max-width: 414pt) {
    .loginPanel {
        left: 0;
        top: 0;
        width: 100%;
        height: 702px;
        border-radius: 12px;
        align-self: center;
        justify-content: center;
    }
}

.loginForm {
    width: 100%;

    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
}

p {
    font-family: 'Archivo';
    font-size: 16px;
}

.loginText {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

}

a {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BF5FE1;

    &:hover{
        font-weight: 800;
        transition: background-color 400ms ease;
    }
}

#errorText {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FF0000;
}

.rememberPasswordDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rememberMe {
    width: 20px;
    height: 20px;
    background: #28282833;
    appearance: none;
    border: 1px solid #FFFFFF;
    border-radius: 2pt;
}

.lightMode #rememberMe {
    background: #28282800;
    border: 1px solid #9b59b6;
    border-radius: 2pt;
}

#rememberMe:checked {
    accent-color: #BF5FE1;
    appearance: auto;
}

.registerDiv {
    display: flex;
    align-items: center;
    justify-content: center;      
}

.registerDiv a {
    margin: 10px;
}

.registerDiv label {
    margin: 10px;
}

.inputBox {
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.formInputError{
    border: 1px solid red;
    border-radius: 6px;
}
  
.purpleButton input[type="button"]{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    color: #FFFFFF;
    background-color: #BF5FE1;
    height: 47px;
    width: 100%;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    
    &:hover{
        opacity: 0.6;
        transition: background-color 400ms ease;
    }
}

.socialMedia {
    width: 100%;
    height: 47px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    margin-top: 6.5%;
    margin-bottom: 6.5%;
     
    &:hover{
        opacity: 0.6;
        transition: background-color 400ms ease;
      }
}
.lightMode .socialMedia {
    border: 2px solid #BF5FE1;
    color: #BF5FE1;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.lightMode .separator {
    color: #BF5FE1;
}
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
}

.lightMode .separator::before,
.lightMode .separator::after {
    border-bottom: 1px solid #BF5FE1;
}
  
.separator:not(:empty)::before {
    margin-right: .25em;
}
  
  .separator:not(:empty)::after {
    margin-left: .25em;
}

.socialMediaImg {
    margin-left: 16%;
    margin-right: 7%;
}

  
.inputBox input {
    margin-left: 15px;
}

.inputBox span{
    right: 15px;
}
