body {
    background-image: url('../assets/background.svg');
}

@font-face {
    font-family: Archivo;
    src:  url('../assets/fonts/archivo.ttf');
  }

@font-face {
    font-family: OpenSans;
    src:  url('../assets/fonts/openSans.ttf');
  }  

@font-face {
    font-family: Exo;
    src:  url('../assets/fonts/exo.ttf');
  }  

div.logo {
    position: absolute;
    width: 178px;
    height: 62px;
    left: 22px;
    top: 30px;
}

img.joystick {
    position: absolute;
    left: 3.37%;
    top: -8%;
}

img.game {
    position: absolute;
    left: 36.45%;
    top: 17.5%;
}

img.archive {
    position: absolute;
    left: 37.55%;
    top: 64.5%;
}

.loginPanel {
    position: absolute;
    display: flex;
    width: 462px;
    height: 702px;
    left: 879px;
    top: 178px;

    background: rgba(23, 23, 23, 0.8);
    /*backdrop-filter: blur(5px);*/
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 12px;

}

@media screen and (max-width: 414pt) {
    .loginPanel {
        left: 0;
        top: 0;
        width: 100%;
        height: 702px;
        border-radius: 12px;
        align-self: center;
        justify-content: center;
    }
}

.loginForm {
    width: 100%;

    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 40px;
    padding-left: 50px;
}

h1 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
    color: white;
}

h2 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
}

h3 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: white;
}

h4 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}

h5 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;  
}

h6 {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

p {
    font-family: 'Archivo';
    font-size: 16px;
    color: white;
}

.loginText {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

a {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #BF5FE1;
}

#errorText {
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;

    color: #FF0000;
}

.rememberPasswordDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rememberMe {
    width: 20px;
    height: 20px;
    background: rgba(40,40,40,0.2);
    appearance: none;
    border: 1px solid #FFFFFF;
    border-radius: 2pt;
}

#rememberMe:checked {
    accent-color: #9b59b6;
    appearance: auto;
}

.registerDiv {
    display: flex;
    align-items: center;
    justify-content: center;      
}

.registerDiv a {
    margin: 10px;
}

.registerDiv label {
    margin: 10px;
}

.formInput{
    display: flex;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.formInput span{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 26px;
    opacity: 0.5;
    cursor: pointer;
    
    &:hover{
      opacity: 1;
    }
}

.formInput input {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    height: 47px;
    outline: 0;
    border: 1px solid #f4f4f4;
    border-radius: 6px;
    font-family: 'Archivo';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;   
    color: #3D3D3D;
    
    &::placeholder{
      color: #939393;
    }
}

/*
.formInput input[type="password"]{
    // Adding this, makes the * bigger but messes with the alighment by moving down the placeholder.
    // Because, even if the placeholder has font-size 14, the input (and the caret) has size 24
    font-weight: 400;
    font-size: 24px;
    &::placeholder{
        font-size: 14px;
    }
}*/

.formInputError{
    border: 1px solid red;
    border-radius: 6px;
}
  
.formInput input[type="button"]{
    color: #FFF;
    background-color: #BF5FE1;
    height: 47px;
    width: 100%;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    
    /*&:hover{
      background-color: #0f46b7;
      transition: background-color 400ms ease;
    }*/
}

.socialMedia {
    width: 100%;
    height: 47px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    margin-top: 6.5%;
    margin-bottom: 6.5%;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffffff;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }

  .socialMediaImg {
    margin-left: 16%;
    margin-right: 7%;
  }