.sideBar {
    width: 156px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;

    .icon {
        vertical-align: middle;
        margin-right: 7px;
    }
}

.sideBar a {
    margin-bottom: 10px;
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    .sideBar {
        display: none;
    }

}

/* MOBILE */
@media screen and (max-width: 600px) {

    .sideBar {
        display: none;
    }

}