#sideBar {
    width: 11%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;

    .icon {
        vertical-align: middle;
        margin-right: 7px;
    }
}

#sideBar div h3 {
    line-height: 28px;
    margin: 7px 0 7px 0;
}

#sideBar a {
    margin-bottom: 10px;
    line-height: 25px;
    cursor: pointer;
    &:hover{
        opacity: 0.6;
        transition: background-color 400ms ease;
    }
}

#lastSearchesDiv {
    position: relative;
    top: -10px;
    display: flex;
    flex-direction: column;
    left: 36px;
    margin-bottom: 24px;
}

#sideBar p {
    font-size: 14px;
    line-height: 14px;
    margin: 8px;

    &:hover{
        opacity: 0.6;
        transition: background-color 400ms ease;
    }
}

/* TABLET */
@media screen and (max-width: 900px) and (min-height: 1000px) {

    #sideBar.hiddenOnMobileOrTablet {
        display: none;
    }

    #gamesContainer.hiddenOnMobileOrTablet {
        display: none;
    }
}

/* MOBILE */
@media screen and (max-width: 600px) {

    #sideBar.hiddenOnMobileOrTablet {
        display: none;
    }

    #gamesContainer.hiddenOnMobileOrTablet {
        display: none;
    }

}