body {
    background-image: url('assets/background.svg');
}

div.logo {
    position: absolute;
    width: 178px;
    height: 62px;
    left: 22px;
    top: 30px;
}

img.joystick {
    position: absolute;
    left: 3.37%;
    top: -8%;
}

img.game {
    position: absolute;
    left: 36.45%;
    top: 17.5%;
}

img.archive {
    position: absolute;
    left: 37.55%;
    top: 64.5%;
}